/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* Warna Utama (Primary) */
  --color-johen-cyan: #00C8F0;
  --color-johen-violet: #7C3AED;
  --color-johen-magenta: #D946EF;
  --color-johen-blue: #3B82F6;

  /* Warna Netral & Background (Paket 01) */
  --color-johen-space: #0A0A1A;
  --color-johen-navy: #12122A;
  --color-johen-indigo: #1E1E3F;

  /* Warna Aksen & Status */
  --color-johen-success: #10B981;
}

/* Base Styles untuk website */
body {
  background-color: var(--color-johen-space);
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}